<h1>Log In Below:</h1>

<form method="POST" action="/sessions">
  <h3>Email: <label for="email"></label></h3>
  <input type="text" name="email" id="email">

  <h3>Password: <label for="password"></label></h3>
  <input type="text" name="password" id="password">

  <h3>Login:<input type="submit" id="submit" name="submit" value="Submit"></h3>
</form>
