<h1>Sign Up Below:</h1>

<form action='/registrations' method="post">
  name<input type="text" name="name">
  email<input type="email" name="email">
  password<input type="password" name="password">
  <input type="submit" value="Sign Uple">

</form>
