<h1>Sign Up Below:</h1>
<p>
    <form method="post" action="/registrations">
        <p>Name:</p>
        <input type="text" name="name">
        <p>Email:</p>
        <input type="text" name="email" id="email">
        <p>Password:</p>
        <input type="text" name="password">

        <button type="submit" value="Sign Up">Sign Up</button>
    </form>
</p>


